a:visited {
	color: #f99;
}

a:hover {
	font-weight: bold;
	;

}

a:active {
	text-decoration: none;
}

body {
	font-family: Calibri !important;
		
}

@font-face {
	font-family: 'fridaysregular';
		src: url('Font/fridays-webfont.woff') format('woff'),
			 url('Font/fridays-webfont.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
}

#main {
	background-color: #99CCFF;
	margin-top: -20px;
	margin-bottom: -20px;
}


nav {
	line-height: 1.5;
	
}


.footer {
	line-height: 1.75;
}	

.header {
	width:100%;
	margin: auto;
}


h1.header {
	text-align: center;
	font-family: 'fridaysregular';
	color: #CC6666;
	margin-bottom: 20px;
}

.hyperlinks {
	word-spacing: 30px;
	margin-left: 20px
}

p {
	line-height: 1;
	width: 450px;
}

#bev {
	font-size: 20px;
}

hr {
	margin-bottom: 0;
	margin-top: 0;
}

.tabdpad td {
	padding-top: 7px;
	padding-bottom: 7px;
}
.tabhpad th {
	padding-bottom: 15px;
	padding-top: 20px
}

li {
	padding-left:10px;
	margin-top: -19.5px;
	margin-bottom: -21px;
}
ul {
	margin-left: 6px;
}

.carousel-inner {
	border-radius:20px;
}

.carousel-control {
	border-radius: 20px;
	
}


.carousel-caption {
	max-height:227px;
}

.carousel-indicators {
	
	max-height: 0px;
	;
}
